<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do list</title>
  </head>
  <body>
  <%  if(kindofday=== "Saturday" || kindofday=== "Sunday"){ %>
      <h1 style="color: purple">Today is <%=kindofday %>!</h1>
  <%  }else{ %>
      <h1 style="color: blue">Today is <%=kindofday %>!</h1>
  <%  } %>
  </body>
</html>
